<script>
	// script to control which tab is active
	var path = window.location.pathname.split("/").pop();
	$('.pointing.menu .item').each(function(i, obj){
		var href = obj.href.split("/").pop();
		if (href === path){
			$(this).addClass("active");
		}
	});
</script>
</body>
</html>
