<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
    <meta charset="UTF-8">
    <title>Streamformatics</title>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <script src="/semantic/dist/semantic.min.js"></script>




