</head>
<body>

<div class="ui pointing menu">
    <div class="ui container">
        <a href="/" class="item">Home</a>
        <a href="/about" class="item">About</a>
        <a href="/analysis" class="item">Streamformatics</a>
        <a href="/upload" class="item">MicroManage</a>
    </div>
</div>