*.log
.DS_Store
.DS_Store?

# Webstorm
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

*.fastq

public/data/japsaTesting/testZika/
public/data/virusDB/
public/data/japsaTesting/zika_library2_12plex/
