<% include ./partials/header %>

<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/stylesheets/analysis.css">

<% include ./partials/navbar %>

<div class="ui main text container">

    <!--Button to open connection and reveal path box-->
    <button class="ui blue button" id="getStarted">Get Started</button>

        <!--Form to submit the path to the folder to watch-->
    <form class="ui form" id="readPathsForm">
        <input type="text" placeholder="Enter path to reads (or fastq)" class="ui text"
               name="readsPath" id="readsPath" required>
        <input type="text" placeholder="Enter path to virus database" class="ui text"
               name="virusPath" id="virusPath" required>
        <input type="text" placeholder="Directory to run analysis from" class="ui text"
        name="outputPath" id="outputPath" required>
        <input type="text" placeholder="Output file name (no extension)" class="ui text"
               name="outputFile" id="outputFile" required>
        <input type="submit" class="ui green button" id="submitReadsPath">
    </form>

    <!--buttons to start and stop the species typing-->
    <button class="ui green button" id="startAnalysis">Start Analysis</button>
    <button class="ui red button" id="stopAnalysis">Stop Analysis</button>

</div>

<div id="chartContainer"></div>

<script src="/javascripts/analysis.js"></script>

<% include ./partials/footer %>

