<% include ./partials/header %>

<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/stylesheets/analysis.css">

<% include ./partials/navbar %>

<div class="ui main text container">

    <div class="ui centered grid">
        <div class="sixteen wide column">
            <!--Button to open connection and reveal path box-->
            <button class="ui blue button" id="getStarted">Get Started</button>

                <!--Form to submit the path to the folder to watch-->
            <form class="ui form" id="readPathsForm">
                <div class="field">
                    <label for="readsPath">Path to reads or fastq file</label>
                    <input type="text" placeholder="Enter path to reads or fastq"
                       name="readsPath" id="readsPath" required>
                </div>
                <div class="field">
                    <label for="dbPath">Path to reference database</label>
                    <input type="text" placeholder="Enter path to database"
                           name="dbPath" id="dbPath" required>
                </div>
                <div class="field">
                    <label for="outputPath">Run analysis from</label>
                    <input type="text" placeholder="Directory to run analysis from"
                name="outputPath" id="outputPath" required>
                </div>
                <div class="field">
                    <label for="outputFile">Output file name</label>
                    <input type="text" placeholder="Output file name (no extension)"
                       name="outputFile" id="outputFile" required>
                </div>
                <input type="submit" class="ui green button" id="submitReadsPath">
            </form>

            <!--buttons to start and stop the species typing-->
            <button class="ui green button" id="startAnalysis">Start Analysis</button>
            <button class="ui red button" id="stopAnalysis">Stop Analysis</button>
        </div>
    </div>

</div>

<div id="chartContainer"></div>

<script src="/javascripts/analysis.js"></script>

<% include ./partials/footer %>

