<% include ./partials/header %>

<!--tell d3.js to use the sankey plug-in-->
    <link rel="stylesheet" href="/stylesheets/dashboard.css" type="text/css">
    <script>
        // grabs the data being sent from the server and stores it in params
        var diagramData = <%- fixtureData %>
    </script>
    <!--Set up all of the plotting-->
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>

<% include ./partials/navbar %>


<div id="chart"></div>



<script>
    const sequence = "sequence";
    const sampleID = "sampleID";

    // colouring for MIC
    var RdYlBu    = [
            "#313695", "#4575b4", "#74add1", "#abd9e9", "#e0f3f8", "#ffffbf",
            "#fee090", "#fdae61", "#f46d43", "#d73027", "#a50026"
        ],
        micDomain = [
            0.125, 0.25, 0.5, 1.0, 2.0, 4.0, 8.0, 16.0, 32.0, 64.0, 128.0
        ];

        var pc = parallelCoordinates()
            .data(diagramData.data)
            .mapping(diagramData.mapping)
            .height(500)
            .width(960)
            .sequence("sequence")
            .sampleID("sampleID")
//            .lineColourBy('MIC')
//            .lineColourScale(micDomain, RdYlBu);

        d3.select('#chart')
            .call(pc);
</script>

<% include ./partials/footer %>
