<% include ./partials/header %>

<!--tell d3.js to use the sankey plug-in-->
    <script src="https://unpkg.com/d3-sankey@0"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" type="text/css">
    <script>
        // grabs the data being sent from the server and stores it in params
        var diagramData = <%- fixtureData %>
    </script>
    <!--Set up all of the plotting-->
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>

<% include ./partials/navbar %>


<div id="chart"></div>



<script>
    // set up the sankey diagram
    var chart = sankeyDiagram()
        .data(diagramData)
        .width(1280)
        .height(720)
        .nodeWidth(7)
        .nodePadding(5)
        .legendRectSize(25);

    // run the chart on the div
    d3.select('#chart')
        .call(chart);
</script>

<% include ./partials/footer %>
