<% include ./partials/header %>

<div id="bg">
    <!--<img src="/images/Dnarrow.png" alt="">-->
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <h1>Streamformatics</h1>
                <h3><strong>Real-time analysis in the fight against superbugs</strong></h3>
                <hr>
                <div class="huge ui buttons">
                    <a href="/upload" class="ui orange button">MicroManage</a>
                    <div class="or"></div>
                    <a href="/analysis" class="ui green button">Streamformatics</a>
                </div>
                <!--<button class="btn btn-default btn-lg btn-success">-->
                    <!--<i class="pie chart icon"></i>-->
                    <!--Get Started!-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>