<% include ./partials/header %>

<% include ./partials/navbar %>

<div id="bg"></div>

<div class="ui container">
    <div class="row">
        <div class="sixteen wide column">
            <div id="content">
                <h1>Streamformatics</h1>
                <h3><strong>Real-time analysis in the fight against superbugs</strong></h3>
                <hr>
                <div class="huge ui buttons">
                    <a href="/upload" class="ui orange button">MicroManage</a>
                    <div class="or"></div>
                    <a href="/analysis" class="ui green button">Streamformatics</a>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>