<% include ./partials/header %>


<!--<div class="ui main text container">-->
    <!--<div class="ui grid">-->
        <!--<div class="twelve wide column">-->
            <!--<i class="massive circular upload icon"></i>-->
            <!--<h2>File Uploader</h2>-->
            <!--<div class="ui indicating progress active">-->
                <!--<div class="bar"></div>-->
                <!--<div class="label"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash;Button that triggers the local file upload dialog box&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="huge ui green button">&ndash;&gt;-->
                <!--&lt;!&ndash;Upload Local File&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->

        <!--</div>-->
        <!--<div class="twelve wide column">-->
            <!--&lt;!&ndash;Form for the user to specify a URL to a file they want to upload&ndash;&gt;-->
            <!--<form id="upload-url" class="ui huge form" action="/upload" method="POST">-->
                <!--<div class="ui fluid action input">-->
                    <!--<input id="uploadURL"type="text" placeholder="Enter URL here" name="uploadURL">-->
                    <!--<button class="ui orange button">Upload</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="ui main text container">
    <div class="ui grid">
        <div class="twelve wide column">
            <form class="box" method="POST" action="/upload" enctype="multipart/form-data">
                <div class="box__input">
                    <input type="file" class="box__file" name="files[]" id="file"
                           data-multiple-caption="{count} files selected" multiple >
                    <label for="file">
                        <strong>Choose a file</strong>
                        <span class="box__dragndrop"> or drag it here</span>.
                    </label>
                    <button class="box__button" type="submit">Upload</button>
                </div>
                <div class="box__uploading">Uploading&hellip;</div>
                <div class="box__success">Done!</div>
                <div class="box__error">Error! <span></span>.</div>
            </form>
        </div>
    </div>
</div>

<script src="javascripts/upload.js"></script>
<!--input that handles the local file upload-->
<!--the accept argument restricts the file types the user can upload-->
<!--<input type="file" id="upload-input" name="uploadFile" multiple-->
       <!--accept=".fasta, .fasta.gz, .fastq, .fastq.gz, .fa">-->

<!--Script that handles the logic for a user wanting to upload a local file-->



<% include ./partials/footer %>