<% include ./partials/header %>


<div class="ui main text container">
    <div class="ui grid">
        <div class="twelve wide column">
            <i class="massive circular upload icon"></i>
            <h2>File Uploader</h2>
            <div class="ui indicating progress active">
                <div class="bar"></div>
                <div class="label">Uploading</div>
            </div>
            <button class="huge ui green button">
                <!--<i class="upload icon"></i>-->
                Upload Local File
            </button>
        </div>
        <div class="twelve wide column">
            <form id="upload-url" class="ui huge form" action="/upload" method="POST">
            <!--<form id="upload-url-form" class="ui huge form">-->
                <div class="ui fluid action input">
                    <input id="uploadURL"type="text" placeholder="Enter URL here" name="uploadURL">
                    <button class="ui orange button">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>


<input type="file" id="upload-input" name="uploadFile" multiple="multiple"
       accept=".fasta, .fasta.gz, .fastq, .fastq.gz, .fa">

<script src="javascripts/upload.js"></script>


<% include ./partials/footer %>